.keyboard-button {
  height: 50px;
  min-width: 50px;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 8px;
}
